images/Thumbs.db
images/sprites/veryfar/mt/Thumbs.db
images/sprites/veryfar/el/Thumbs.db
images/sprites/veryfar/sh/Thumbs.db
images/sprites/veryfar/sl/Thumbs.db
images/sprites/veryfar/un/Thumbs.db
images/sprites/close/cs/Thumbs.db
images/sprites/close/sh/Thumbs.db
images/sprites/far/sh/Thumbs.db
images/sprites/normal/cs/Thumbs.db
images/sprites/normal/el/Thumbs.db
images/sprites/normal/sh/Thumbs.db
*.db
*.bak